@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body header {
    top: 0;
    position: fixed;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 5px rgba(72, 72, 57, 0.144);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

body header #logo img {
    width: 50px;
    margin: 10px;
}

body header nav {
    display: flex;
}

body header nav a {
    display: block;
    text-decoration: none;
    color: rgb(34, 34, 34);
    padding: 20px;
    transition: .7s;
}

body header nav a:hover {
    transform: translateY(-2px);
}

body header #btn button {
    border: none;
    padding: 10px 15px;
    background-color: rgb(20, 18, 0);
    color: white;
    border-radius: 10px;
    transition: .5s;
}

body header #btn button:hover {
    cursor: pointer;
    background-color: rgb(241, 219, 16);
    color: rgb(0, 0, 0);
}
body main {
    width: 100%;

}
body main #main-content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10vh;
}

body main #main-content #text {
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin-left: 5%;
}

body main #main-content #text #span span {
    color: rgb(238, 196, 11);
    font-weight: 600;
    font-size: 1vw;
}

body main #main-content #text #title h1 {
    color: rgb(26, 26, 26);
    font-size: 4vw;
    font-weight: 800;
    line-height: 3.2vw;
}

body main #main-content #text #title span {
    color: rgb(238, 196, 11);
}

body main #main-content #picture {
    width: 50vw;
}

body main #main-content #picture img {
    width: 25vw;
}

body main #main-content #informations {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 100px;
}

body main #main-content #informations span {
    padding: 10px;
    font-size: 1rem;
    font-weight: 800;
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
    text-align: center;
    overflow-y: hidden;
}
body main #courses{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}
body main #courses .course-title{
    margin: 30px;
    padding: 15px;
    font-size: 1.5rem;
    color: rgb(27, 27, 27);
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
body main #courses .course-title p{
    max-width: 80vh;
    padding: 10px;
}
body main #courses .course-title h1{
    color: rgb(41, 41, 41);
    padding: 10px;
    margin-bottom: 20px;
}
body main #courses #btn{
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    height: 10vh;
}
body main #courses #btn button{
    margin: 20% 20%;
    padding: 15px;
    width: 10vw;
    min-width: 200px;
    border-radius: 50px;
    border: 2px solid rgb(22, 13, 0);
    background-color: rgb(255, 255, 207);
    box-shadow: 5px 8px 0px -3px rgb(22, 13, 0);
    cursor: pointer;
    transition: 1s;
}
body main #courses #btn button:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.05);
}
body main #teach{
    padding: 10%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60vh;
}
body main #teach img{
    width: 15vw;
    overflow-y: hidden;
}
body main #teach .content-teach{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}
body main #teach .content-teach h1{
    font-size: 2rem;
    padding: 20px;
}
body main #teach .content-teach p{
    margin-top: 2%;
    max-width: 70vh;
    padding: 20px;
    font-size: 1rem;
}